<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headTag">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript"/>
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
        <![endif]-->
        <script th:href="@{js/jquery-3.3.1.min.js}"></script>
        <script th:href="@{js/jquery-migrate-1.4.1.min.js}"></script>
        <script th:href="@{js/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{image/icon/damdev.png}"/>
        <title>DAMDEV</title>
    </head>
</html>
